/*
Core CSS
*/
*{
    border: 0;
    margin: 0;
    padding: 0;
    color:#000;
}
html{
    font-size: 16px;
    line-height: 1.5;
    font-family:'Tahoma', sans-serif;
}
body{
    /*background-image: url(../images/hp1.jpg);*/  
    background-color: #004d00;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
p{
    max-width:80em;
}
h2{
    font-size: 150%;
    font-family:'Tahoma', sans-serif;
    color: #7c0331;
}
h2:hover{
    font-size: 160%;
    font-family:'Tahoma', sans-serif;
    color: #4a021e;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #ad1605;
}
h3{
    font-size: 120%;
    font-family:'Tahoma', sans-serif;
    color: #7c0331;
}
ul{
    list-style-position: inside;
    list-style-type: square;
    text-indent: 2em;

}

/*
splash
*/
section#splash{
    position: fixed;
    height:80vh;
    width:100%;
    background: url('../images/cows.jpg') no-repeat center;
    background-size: cover;
    
}
section#splash h1{
    color:#fef4cd;
    text-shadow: 5px 5px 5px #004d00;
    font-size:300%;
}

div#scrolling{
    position:absolute;
    /*1 top_nav height from top*/
    width:100%;
    background:#feeeb3;
    top:80%;
    margin-bottom:5%;
}

/*
Top Navigation Bar
*/
div#top_nav{
    z-index: 99999;
    background-color: #fee99e;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    
}
div#top_nav > div.links{
    width: 80%; /*Change width of links in terms of nav */
    display: table;
    margin: auto;
    
    
}
div#top_nav > div.links > a{ 
    display: table-cell; 
    width: .01%; 
    color: #7c0331;
    font-size: 20px;
    font-weight: bold;
}
div#top_nav > div.links > a:hover{ 
    color: #4a021e;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #ad1605;
    
}

/*section stuff*/
section{
    width:70%;
    padding-top:4rem;
    padding-bottom:4rem;
    top:-4rem;
}
section:not(#splash) .section_content{
    width:100%;
    border:1px solid;
    padding:1rem;
    word-wrap: break-word;
    background-color: #fef4cd;
}
section .section_content .section_heading{
    color:#008000;
    text-align: left;
    font-size: 200%;
    font-family:'Verdana', sans-serif;
    text-shadow: 2px 2px 2px #000f40;
}
section .section_content .splash_section:hover #hidden_text{
    display: inline-block;
}

#hidden_text{
    display: none;
    color:#fef4cd;
    text-shadow: 5px 5px 5px #004d00;
    font-size:300%;
}

/*Utilities*/
.shadow_box{
    box-shadow: 2px 2px 10px 2px #004d00;
}

/*positioning*/
.center_column {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;/* works with row or column */
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

aside.left{
    width: 55%;
    float: left;
    padding-right:5%;
}
aside.right{
    width: 40%;
    float: right;
}

/*---------------Media Querries------------------*/



/*For a Samsung Galaxy S5*/
@media screen and (max-width: 360px){
    aside.left, aside.right{
        width: 100%;
    }
    aside.right:before{
        content:"\a";
        white-space: pre;
    }
    div#top_nav > div.links > a{ 
        font-size: 14px;
    }

}



