/*
Core CSS
*/
*{
    border: 0;
    margin: 0;
    padding: 0;
    color:#000;
}
html{
    font-size: 16px;
    line-height: 1.5;
    font-family:'Tahoma', sans-serif;
}
body{
    /*background-image: url(../images/hp1.jpg);*/
    
    background-color: #00aaff;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
p{
    max-width:40em;
}


/*
splash
*/
section#splash{
    position: fixed;
    height:80vh;
    width:100%;
}
section#splash h1{
    color:#fff;
    font-size:300%;
}

div#scrolling{
    position:absolute;
    /*1 top_nav height from top*/
    width:100%;
    background:#fff;
    top:80%;
    margin-bottom:10%;
}

/*
Top Navigation Bar
*/
div#top_nav{
    z-index: 99999;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    
}
div#top_nav > div.links{
    width: 80%; /*Change width of links in terms of nav */
    display: table;
    margin: auto;
}
div#top_nav > div.links > a{ 
    display: table-cell; 
    width: .01%; 
}

/*section stuff*/
section{
    width:100%;
    padding-top:4rem;
    padding-bottom:4rem;
    top:-4rem;
}
section .section_content{
    padding:0.5rem;
}
section .section_heading{
    color:#00aaff;
    text-align: left;
    width:100%;
}

/*Utilities*/
.material_theme{
    box-shadow: 4px 4px 15px 2px #666666;
}

/*positioning*/
.center_column {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;/* works with row or column */
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

/*---------------Media Querries------------------*/



/*For a Samsung Galaxy S5*/
/*@media screen and (max-width: 360px){
    body{
        /*background-image: url(../images/hp1.jpg);*/
    
       /* background-color: #00aaff;
        width: 100%;
        height: 100%;
    }
    .left_column{
        width: 80%;
        float: left;
        background-color: #6600ff;
    }
    .right_column{
        width: 80%;
        float: left;
        background-color: #00aaaa;
    }
}
*/


